{
  "type": "{{ smarthome.type }}",
  "project_id": "{{ smarthome.project_id }}",
  "private_key_id": "{{ smarthome.private_key_id }}",
  "private_key": "{{ smarthome.private_key }}",
  "client_email": "{{ smarthome.client_email }}",
  "client_id": "{{ smarthome.client_id }}",
  "auth_uri": "{{ smarthome.auth_uri }}",
  "token_uri": "{{ smarthome.token_uri }}",
  "auth_provider_x509_cert_url": "{{ smarthome.auth_provider_x509_cert_url }}",
  "client_x509_cert_url": "{{ smarthome.client_x509_cert_url }}",
  "universe_domain": "{{ smarthome.universe_domain }}"
}
